@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap')

body{
	font-family: 'Roboto', sans-serif;
}
.navbar img{
	max-width: 150px;
}
.navbar-light .navbar-nav .nav-link {
    color: #9b8d8d;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 600;
    position: relative;
	
}
.navbar-light .navbar-nav .nav-link:hover{
	color: #60C026;
	transition: all 0.06 ease;
}
.navbar-light .nav-item:hover .nav-link::before{
	content: "";
	background-color: #60C026;
	top: 0;
	left: 0;
	width: 100%;
	height: 25px;
	position: absolute;
	transition: all 0.10s ease;

}

.banner{
	background-image: url(../images/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-color: #2621fa;
	background-blend-mode: multiply;
}
.overlay{
	/* position: absolute; */
	top: 0;
	/* left: 0; */
	/* width: 100%; */
	height: 100%;
	/* background-color: #292184; */
	/* background-blend-mode: multiply; */
}
.banner .row{
	align-items: center;
}
.heading{
	padding: 100px 0;
}
.heading h1{
	font-size: 60px;
	color: #fff;
	padding: 20px 0;
}
.heading h2{
	font-size: 50px;
	color: #fff;
	color: #60C026;}

.heading p{
	max-width: 400px;
	color: #DEDEDE;;
	font-size: 16px;
}
.btn-custom{
	background-color:#60C026;
	color: #fff;
	border-radius: 35px;
	padding-right: 35px;
	padding-left: 35px;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 700;
	letter-spacing: 2px;
}
.employee-section{
	padding: 100px 0;}
.heading-text{
	text-align: center;
	padding-bottom: 35px;
}
.heading-text h1{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 50px;
}
.heading-text h1 span{
	color: #60C026;
}
.heading-text p{
	max-width: 600px;
	margin: auto;
	color: #07080C;
	font-size: 16px: 
}
.employee > div{
    position: relative;
    overflow: hidden;
}
.employee .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #2621fa;
    transition: all 0.4s ease-out;
    opacity: 0;
    z-index: 1;
    transform: scale(0);
}

.employee:hover .overlay{
    transform: scale(1);
    opacity: 1;
}
.plus{
    position: absolute;
    top: 50%;
    left: 30%;
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #60C026;
    transform: translate(-30%,-50%);
    text-align: center;
    color: #fff;
    z-index: 1;
    opacity: 0;
    transition: all 0.4s ease;
}
.link{
    position: absolute;
    top: 50%;
    left: 70%;
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #60C026;
    transform: translate(-70%,-50%);
    text-align: center;
    color: #fff;
    z-index: 1;
    opacity: 0;
    transition: all 0.4s ease;
}
.employee:hover .plus{
    left: 40%;
    transform: translate(-40%,-50%);
    opacity: 1;
}
.employee:hover .link{
    left: 60%;
    transform: translate(-60%,-50%);
    opacity: 1;
}
.employee-section a{
	margin-top: 40px;
}

.service-section{
	background-image: url(../images/second_banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-color: #2621fa;
	background-blend-mode: multiply;
}
.service-section{
    align-items: center;
}
.service-text{
    text-align: left;
    margin-top: 50px;
    margin-bottom: 30px;
}
.service-text h1{
	color: #60C026;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 3em;
}
.service-text p{
	color: #DEDEDE;
	font-size: 16px;
	font-weight: 700;
	max-width: 500px;
}
.search-icon{
    font-weight: 900;
    color: #fff;
}
.search-icon i{
	height: 70px;
	width: 70px;
	line-height: 70px;
	border-radius: 50%;
	text-align: center;
	font-size: 20px;
	background-color:#60C026;
}
.search-text{}

.search-text p{
	color: #DEDEDE;
	font-size: 16px;
	max-width: 300px;
	font-weight: 700;
}
.recent-section{
	padding:100px 0;
	background-color: #1E1E1E;
}
.recent-text h3{
	color: #DEDEDE;
	font-size: 35px;
	font-weight: 900;
}
.recent-text p{
	color: #fff;
	font-weight: 600;
	max-width: 350px;
	line-height: 2;
}
.recent-form{
	max-width: 300px;
    margin-top: 15px !important;
    font-size: 16px !important;
}
.recent-form form{}
form{}
form > input{
	width: 100%;
    padding: 12px 10px !important;
    margin-bottom: 15px !important;
}
.form-control {
    padding: 1.375rem 0.75rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 2.25rem;
}
.customs{
	background-color: #60C026;
	color: #fff;
	border-radius: 30px;
	text-transform: uppercase;
	font-weight: 700;
}
.social-link{
	padding-top: 100px;
}
.social-link li{}
.social-link li a{}
.social-link li a i{
	font-size: 25px !important;
	font-weight: 900;
	height: 60px;
	width: 60px;
	line-height: 60px;
	border-radius: 50%;
	text-align: center;
	font-size: 20px;
	color: #F7F7F7;
	background-color:#60C026;
}